# === BEZPIECZEŃSTWO ===
# Klucze SSH i inne poufne pliki
.ssh/
*.pem
*.key
id_rsa*
id_ed25519*
known_hosts

# === SYSTEM / BACKUP ===
*.swp
*.bak
*.tmp

# === PYTHON ===
__pycache__/
*.pyc
*.pyo
venv/

# === GIT / IDE ===
.git/
.idea/
.vscode/
.DS_Store

# === LOGI I DANE URUCHOMIENIOWE ===
ble_logger/*.log
ble_logger/presses.jsonl
ble_logger/.presses.offset

