[Unit]
Description=BLE button logger (Bleak) -> presses.jsonl
After=bluetooth.target network-online.target
Wants=bluetooth.target network-online.target

[Service]
Type=simple
User=piotr
WorkingDirectory=/home/piotr/RaspberryPI/ble_logger
Environment=BLEAK_LOGGING=1
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/piotr/RaspberryPI/sender-venv/bin/python -u /home/piotr/RaspberryPI/ble_logger/ble_btn_logger.py
Restart=always 
RestartSec=2 
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
